bundle: false
compress: false
run: false
electron: true

coffeeSources: [
]

files:
    [
        "torch.js"
        "Core/Controller.js"
        "Core/Tank.js"
        "Core/Bullet.js"
        "Core/Game.js"
    ]
